
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
    <base href="~/" />
    <title>Index</title>
</head>
<body>
    <div id="app"></div>

    <script src="~/js/main-client.js"></script>
</body>
</html>
